@model IEnumerable<SmiteAPIWebsite.Gods>

@{
    ViewData["Title"] = "Gods";
}

<h1>Gods</h1>

<div class="card-deck">
    @foreach (var god in Smite.gods)
    {
        <div class="card border-dark mb-3">
            <img class="card-img-top" src="@god.godCard_URL" />
            <div class="card-body">
                <h5 class="card-title">@god.Name</h5>
            </div>
        </div>
    }

    <img src="@Smite.godsDictionary["Achilles"].godCard_URL"/>
</div>
