@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .search {
            width: 100%;
            position: relative;
            display: flex;
        }

        .searchTerm {
            width: 100%;
            border: 3px solid #ffca28;
            border-right: none;
            padding: 5px;
            height: 36px;
            border-radius: 5px 0 0 5px;
            outline: none;
            color: #ffca28;
        }

            .searchTerm:focus {
                color: black;
            }

        .searchButton {
            width: 40px;
            height: 36px;
            border: 1px solid #ffca28;
            background: #ffca28;
            text-align: center;
            color: white;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 20px;
        }

        .wrap {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div id="background"> </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h1 class="display-4">Step Into The Battleground Of The Gods!</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Enter player name or Gamertag">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
