@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="row d-flex justify-content-around">
        <div class="col-md-5">
            <div class="card text-white bg-secondary">
                <h5 class="card-header">Intro</h5>
                <div class="card-body">
                    <h5 class="card-title">Welcome to my website!</h5>
                    <p class="card-text">This is a website where players from the popular game, Smite, can come and check out their overall statistics or stats from specific matches. As it currently stands, the website supports searching for console players; so unfortunately pc players support has not been implemented as of now. For those who may be visiting this site and are unfamiliar with the game/or players to search, there is a list of player gamertags to the right that you may copy/paste to demo search functionality.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center text-white bg-secondary gamertags-list">
                <div class="card-header">
                    Gamertags to search
                </div>
                <div class="card-body">
                    <ul>
                        <li>Its The Flea</li>
                        <li>xxmonstinatorxx</li>
                        <li>ChittySupport</li>
                        <li>Boomyoda15</li>
                        <li>Heteroh</li>
                        <li>MostCreativName</li>
                        <li>RioT Effect</li>
                        <li>UGS Tipz</li>
                        <li>Snovw</li>
                        <li>SplitFireSword</li>
                        <li>MoneySynBoi</li>
                        <li>aG Ragnarok</li>
                        <li>Paggz10</li>
                        <li>LeviAngel</li>
                        <li>MP Cruelty</li>
                        <li>UpgradeOnly</li>
                        <li>LitBabyJesus</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
 
</body>
</html>
